<h2>My Campaigns</h2>
<div fxLayout="row" class="border">
  <div fxFlex="20">
    <mat-nav-list>
      <mat-list-item *ngFor="let campaign of campaigns" routerLink="/campaign/{{campaign.id}}">
        <button mat-icon-button>{{ campaign.name }}</button>
      </mat-list-item>
    </mat-nav-list>
  </div>
</div>
