<h2>My Monsters</h2>
<div fxLayout="row" class="border">
  <div fxFlex="20">
    <mat-nav-list>
      <mat-list-item *ngFor="let monster of monsters" routerLink="/monster/{{monster.index}}">
        <button mat-icon-button>
          {{ monster.name }}
        </button>
      </mat-list-item>
    </mat-nav-list>
  </div>
</div>
