<div *ngIf="item">
  <button mat-icon-button (click)="goBack()">Back</button>
  <h2>{{ item.name | uppercase }} Details</h2>
  <form class="example-container">
    <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)]="item.name" name="name" />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Cost Amount"
        [(ngModel)]="item.cost.quantity"
        name="costQuantity"
      />
    </mat-form-field>
    
    <mat-form-field>
      <input matInput placeholder="Cost Unit" [(ngModel)]="item.cost.unit" name="costUnit" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Weight" [(ngModel)]="item.weight" name="weight" />
    </mat-form-field>
  </form>
</div>
