.selected {
  background-color: #cfd8dc !important;
  color: white;
}
.mat-nav-list {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.mat-nav-list mat-list-item {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #eee;
  margin: 0.5em;
  padding: 0.3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.mat-nav-list mat-list-item.selected:hover {
  background-color: #bbd8dc !important;
  color: white;
}
.mat-nav-list mat-list-item:hover {
  color: #607d8b;
  background-color: #ddd;
  left: 0.1em;
}
.mat-nav-list .text {
  position: relative;
  top: -3px;
}
.mat-nav-list .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607d8b;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: 0.8em;
  border-radius: 4px 0 0 4px;
}
