<mat-toolbar>
  <button (click)="back()" mat-button>Back</button>
  <button routerLink="/campaign/wiki/{{campaignid}}/timeline/edit" mat-button>Edit</button>
  <button routerLink="/campaign/wiki/{{campaignid}}/timeline/new" mat-button>New</button>
</mat-toolbar>
