<app-timeline-nav> </app-timeline-nav>
<div fxLayout="row" fxLayoutAlign="center center">
  <h2>{{ wikis.timeline.title }}</h2>
</div>
<div fxLayout="row" fxLayoutAlign="center center">
  <div>
    <p>{{ wikis.timeline.body }}</p>
  </div>
</div>

<div class="timeline" *ngFor="let event of wikis.timeline.events">
  <div class="container {{ event.position }}" *ngIf="event.visibility">
    <div class="content">
      <h2>{{ event.title }}</h2>
      <p>{{ event.body }}</p>
    </div>
  </div>
</div>
