<app-timeline-nav> </app-timeline-nav>

<form action="">
  <div class="timeline">
    <div class="container {{ tempPos }}">
      <div class="content">
        <input matInput placeholder="Event Title" />

        <input matInput placeholder="Event Body" />
      </div>
    </div>
  </div>
</form>
