<div *ngIf="character">
    <button mat-icon-button (click)="goBack()">Back</button>
  <h2>{{ character.name | uppercase }} Details</h2>
  <form class="example-container">
    <mat-form-field> <input matInput placeholder="Name" [(ngModel)]="character.name" name="name" /> </mat-form-field>

    <mat-form-field> <input matInput placeholder="Race" [(ngModel)]="character.race" name="race" /> </mat-form-field>

    <mat-form-field> <input matInput placeholder="Age" [(ngModel)]="character.age" name="age" /> </mat-form-field>

    <mat-form-field> <input matInput placeholder="Sex" [(ngModel)]="character.sex" name="sex" /> </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Character Class" [(ngModel)]="character.Character_Class" name="cclass" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Alignment" [(ngModel)]="character.alignment" name="alignment" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Background" [(ngModel)]="character.background" name="background" />
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Notes" [(ngModel)]="character.notes" name="notes"></textarea>
    </mat-form-field>
  </form>
</div>
