<h2>My Items</h2>
<div fxLayout="row" class="border">
  <div fxFlex="20">
    <mat-nav-list>
      <mat-list-item *ngFor="let item of items" routerLink="/item/{{ item.index }}">
        <button mat-icon-button>{{ item.name }}</button>
      </mat-list-item>
    </mat-nav-list>
  </div>
  <div fxFlex="75"><app-equipment-detail [item]="selecteditem"></app-equipment-detail></div>
</div>
