<div *ngIf="monster">
  <button mat-icon-button (click)="goBack()">Back</button>
  <h2>{{ monster.name | uppercase }} Details</h2>
  <form class="example-container">
    <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)]="monster.name" name="name" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Armor" [(ngModel)]="monster.armor_class" name="armorclass" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Hitpoints" [(ngModel)]="monster.hit_points" name="hitpoints" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Speed" [(ngModel)]="monster.speed" name="speed" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Strength" [(ngModel)]="monster.strength" name="strength" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Dexterity" [(ngModel)]="monster.dexterity" name="dexterity" />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Constitution"
        [(ngModel)]="monster.constitution"
        name="constitution"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Intelligence"
        [(ngModel)]="monster.intelligence"
        name="intelligence"
      />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Wisdom" [(ngModel)]="monster.wisdom" name="wisdom" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Charisma" [(ngModel)]="monster.charisma" name="charisma" />
    </mat-form-field>
  </form>
</div>
