<mat-sidenav-container class="example-container" (backdropClick)="close('backdrop')">
  <mat-sidenav mode="push" #sidenav (keydown.escape)="close('escape')" disableClose>
    <mat-list>
      <mat-list-item> <a mat-button routerLink="">Dashboard</a> </mat-list-item>
      <mat-list-item><a mat-button routerLink="/campaigns">Campaign</a> </mat-list-item>
      <mat-list-item> <a mat-button routerLink="/characters">Characters</a> </mat-list-item>
      <mat-list-item><a mat-button routerLink="/items">Items</a> </mat-list-item>
      <mat-list-item><a mat-button routerLink="/monsters">Monsters</a> </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <a mat-button (click)="open()"><mat-icon>menu</mat-icon></a> <a mat-button routerLink=""> {{ title }} </a>
        <span class="example-spacer"></span>
        <form class="search">
          <mat-form-field class="example-full-width">
            <input placeholder="Search" matInput /> <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </form>

        <a mat-button routerLink="/campaigns">Campaign</a> <a mat-button routerLink="/characters">Characters</a>
        <a mat-button routerLink="/items">Items</a> <a mat-button routerLink="/monsters">Monsters</a>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="container"><router-outlet></router-outlet></div>
  </mat-sidenav-content>
</mat-sidenav-container>
