<app-timeline-nav> </app-timeline-nav>
<div fxLayout="row" fxLayoutAlign="center center">
  <input matInput placeholder="Timeline Title" value="{{ wikis.timeline.title }}" />
</div>
<div fxLayout="row" fxLayoutAlign="center center">
  <div>
    <input matInput placeholder="Timeline Body" value="{{ wikis.timeline.body }}" />
  </div>
</div>

<form action="">
  <div class="timeline" *ngFor="let event of wikis.timeline.events">
    <div class="container {{ event.position }}" *ngIf="event.visibility">
      <div class="content">
        <input matInput placeholder="Event Title" value="{{ event.title }}" />

        <input matInput placeholder="Event Body" value="{{ event.body }}" />
      </div>
    </div>
  </div>
</form>
