<mat-toolbar>
  <span>{{ wikis.title }}</span>
    <button routerLink="/campaign/wiki/{{campaignid}}/map" mat-button>Maps</button>
    <button routerLink="/campaign/wiki/{{campaignid}}/timeline" mat-button>Timeline</button>
    <span class="example-spacer"></span>
    <button routerLink="/campaign/wiki/{{campaignid}}/characters" mat-button>Character</button>
    <button routerLink="/campaign/wiki/{{campaignid}}/spells" mat-button>Spells</button>
    <button routerLink="/campaign/wiki/{{campaignid}}/items" mat-button>Items</button>
    <button routerLink="/campaign/wiki/{{campaignid}}/locations" mat-button>Locations</button>
    <button routerLink="/campaign/wiki/{{campaignid}}/monsters" mat-button>Monsters</button>
</mat-toolbar>
