<div fxLayout="row" class="border">
  <div fxFlex="60">
    <h1>Newest Campaigns</h1>
    <mat-nav-list>
      <mat-list-item *ngFor="let campaign of campaigns" routerLink="/campaign/{{campaign.id}}">
        {{ campaign.name }}
      </mat-list-item>
    </mat-nav-list>
    <h1>Newest Characters</h1>
    <mat-nav-list>
      <mat-list-item *ngFor="let character of characters" routerLink="/character/{{character.id}}">
        {{ character.name }}
      </mat-list-item>
    </mat-nav-list>
  </div>
  <div fxFlex="60">
    <h1>Random Monsters</h1>
    <mat-nav-list>
      <mat-list-item *ngFor="let monster of monsters" routerLink="/monster/{{monster.index}}">
        {{ monster.name }}
      </mat-list-item>
    </mat-nav-list>
    <h1>Random Items</h1>
    <mat-nav-list>
      <mat-list-item *ngFor="let item of items" routerLink="/item/{{item.index}}"> {{ item.name }} </mat-list-item>
    </mat-nav-list>
  </div>
</div>
