<h2>My Characters</h2>
<div fxLayout="row" class="border">
  <div fxFlex="20">
    <mat-nav-list>
      <mat-list-item *ngFor="let character of characters" routerLink="/character/{{character.id}}">
        <button mat-icon-button>{{ character.name }}</button>
      </mat-list-item>
    </mat-nav-list>
  </div>
  <div fxFlex="75"><app-character-detail [character]="selectedCharacter"></app-character-detail></div>
</div>
