<div *ngIf="campaign">
  <mat-toolbar>
    <mat-toolbar-row>
      <button mat-icon-button (click)="goBack()"><mat-icon>keyboard_backspace</mat-icon></button>
      <h2>{{ campaign.name | uppercase }}</h2>
      <span class="example-spacer"></span>
      <a mat-button [routerLink]="['/campaign/wiki', campaign.id]"><span>Wiki</span></a>
    </mat-toolbar-row>
  </mat-toolbar>

  <h2>{{ campaign.name | uppercase }} Details</h2>
  <form class="example-container">
    <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)]="campaign.name" name="name" />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Description"
        [(ngModel)]="campaign.description"
        name="description"
      />
    </mat-form-field>
  </form>
</div>
